*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 80vw;
    max-width: 300px;
    height: 380px;
    background-color: #121a1b;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgb(92, 92, 209),-1px -5px 20px rgba(0, 0, 255, 0.578);
}
.display{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.buttons{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.row{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.row button{
    width: 18%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),
    -1px -2px 20px rgba(0,0,0,0.8);
    background-color: transparent;
    color: white;
    border: nonee;
}
.display input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),
    -1px -2px 20px rgba(0,0,0,0.8);
    background-color: transparent;
    color: white;
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
}
#equal{
    width: 40%;
    color: aquamarine;
}
.row button:hover{
    box-shadow: inset 1px 2px 10px rgba(0,0,0,0.8);
    font-size: small;
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}
.row1 button{
    color: aquamarine;
}